body {
	background-image: url("../../public/image/bg-image.jpg");
}
.container{
	/*
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	gap: 10px;
	grid-template-rows: 1fr 1fr ;
	*/
}
.item {
	/*
	margin: 0px;
	padding: 0px;
	*/
}
#sortable {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: 100%;

}
#sortable li {
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	font-size: 18px;
	text-align: center;
	background-color: #ffbfe4;
	width: 30%;
	height: 100px;
	word-break: normal;
	position: relative;
	
}
span {
	position: absolute;
	top: 70px;
	left: 20px;
}
#button-pa {
	padding: 0px;
	margin: 0px;
	border-style: none;
	background-color: #ffbfe4;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	
}
.wf-nicomoji { 
	 font-family: 'M PLUS Rounded 1c', sans-serif;
     font-family: 'Kosugi Maru', sans-serif;
}